<footer class="site-footer">
  <nav class="main-nav" id="menu">
      <ul>
              <li>
                <a href="{{ site.baseurl }}01-aboutGitFile.html" {% if page.url == "/01-aboutGitFile.html" %}class = "active"{% endif %}>What is the .gitignore file?</a>
                <ul>
                    <li>
                      <a href="{{ site.baseurl }}02.html" {% if page.url == "/02.html" %}class = "active"{% endif %}>Why is it usefull to have one ?</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}2.html" {% if page.url == "/2.html" %}class = "active"{% endif %}>Why do I need one ?</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}3.html" {% if page.url == "/3.html" %}class = "active"{% endif %}>What happens if I don't have one ?</a>
                    </li>
                </ul>
              </li>
          </ul>
  </nav>
</footer>
