<footer class="site-footer">
  <nav class="main-nav" id="menu">
      <ul>
              <li>
                <a href="{{ site.baseurl }}01-aboutGitFile.html" {% if page.url == "/01-aboutGitFile.html" %}class = "active"{% endif %}>About .gitignore file?</a>
                <ul>
                    <li>
                      <a href="{{ site.baseurl }}02-HowTocreateIt.html" {% if page.url == "/02-HowTocreateIt.html" %}class = "active"{% endif %}>How to create one?</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}03-unecessaryFilesCleaning.html" {% if page.url == "/03-unecessaryFilesCleaning.html" %}class = "active"{% endif %}>How do you cleanup if you didn't have one</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}04-useOfjsonFile.html" {% if page.url == "/04-useOfjsonFile.html" %}class = "active"{% endif %}>How do you know if your project is working?</a>
       	            </li>
                </ul>
              </li>
          </ul>
  </nav>
</footer>
